<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>671212556141-lcqq85t7j9jt1niq6khp8f6e9qqks9kk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671212556141-lcqq85t7j9jt1niq6khp8f6e9qqks9kk</string>
	<key>API_KEY</key>
	<string>AIzaSyC6pgASyPakoyZqJ1W1s1YUC6-Zh8fo3Bw</string>
	<key>GCM_SENDER_ID</key>
	<string>671212556141</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.GlitchEclipse.SocialApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-7e962</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-7e962.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:671212556141:ios:cc0ebb9377dfd575</string>
	<key>DATABASE_URL</key>
	<string>https://social-app-7e962.firebaseio.com</string>
</dict>
</plist>